@import '@/assets/style/utilities/index.scss';

.toggle {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: rem(69);
    height: rem(38);
    background-color: $bg-gray;
    border-radius: rem(19);
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.ball {
    position: absolute;
    left: rem(4);
    width: rem(30);
    height: rem(30);
    border-radius: rem(15);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: $black;
}

.checkbox {
    display: none;
}

.icon {
    position: absolute;

    &__light {
        right: rem(10);
    }

    &__dark {
        left: rem(10);
    }
}

.dark .ball {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateX(rem(31));
        -ms-transform: translateX(rem(31));
            transform: translateX(rem(31));
}