$bg-gray: #F5F5F5;
$black: #333333;
$main-color: #EA2427;
$dark-1: rgb(25 25 25/1);
$dark-2: rgb(42 42 42/1);

$break-points: (
  "sm": 576,
  "md": 768,
  "lg": 1024,
  "xl": 1200,
  "xxl": 1440,
);

$desktop-width: map-get($break-points, "xl");
$desktop-sm-width: map-get($break-points, "lg");
$tablet-width: map-get($break-points, "md");
$mobile-width: map-get($break-points, "sm");