@import '@/assets/style/utilities/index.scss';

.logo {
    &.mob {
        @include breakpoint-min($desktop-width) {
            display: none;
        }
    }

    @include breakpoint-max($tablet-width) {
        width: rem(49);
        height: rem(48);
    }
}