@import '@/assets/style/utilities/index.scss';

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: rem(288);
    height: 100vh;
    flex-shrink: 0;
    background-color: $bg-gray;
    border-radius: rem(1);
    padding: rem(24);
    padding-right: 0;
    transition: 0.3s;
    overflow-y: auto;
    z-index: 7;

    &.close {
        left: -100%;
    }

    &__header {
        margin-bottom: rem(48);
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.hover {
            margin-bottom: rem(24);
        }
    }

    .categories {
        display: flex;
        flex-direction: column;

        &__item {
            padding-right: rem(24);
            padding-bottom: rem(8);

            &:last-of-type {
                padding-bottom: 0;
            }

            &:hover {
                .categories__link {
                    background-color: white;

                    img {
                        filter: brightness(0) saturate(100%) invert(29%) sepia(47%) saturate(3011%) hue-rotate(335deg) brightness(88%) contrast(114%);
                    }

                    p {
                        font-weight: 500;
                    }
                }

                .subMenu {
                    display: block;
                }
            }
        }

        &__link {
            display: flex;
            align-items: center;
            gap: rem(8);
            padding: rem(14) rem(16);
            border-radius: rem(16);

            &.active {
                background-color: white;

                img {
                    filter: brightness(0) saturate(100%) invert(29%) sepia(47%) saturate(3011%) hue-rotate(335deg) brightness(88%) contrast(114%);
                }

                p {
                    font-weight: 500;
                }
            }

            p {
                @include font(14, 400, 15);
                white-space: nowrap;
            }
        }
    }

    &__closeBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: rem(12);
        width: rem(38);
        height: rem(38);
        box-shadow: 0px 10px 19px 0px #00000008;
        background: #E6E6E6;
        margin-right: rem(16);

        &:hover {
            background: #d6d6d6;
        }
    }

    &__openBtn {
        position: fixed;
        top: 50%;
        left: 0;
        font-size: 30px;
    }

    &::-webkit-scrollbar {
        width: rem(0);
        background: #d6d6d6;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: rem(0);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    @include breakpoint-max($desktop-width) {
        display: none;
    }
}

.subMenu {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    width: calc(100% - rem(288));
    height: 100vh;
    background-color: $bg-gray;
    transition: 0.3s;
    overflow-y: auto;

    &.show {
        top: 0;
    }

    .sidebar__closeBtn {
        margin-top: rem(35);
        margin-left: auto;
    }

    &__header {
        margin-bottom: rem(24);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content {
        padding: 0 rem(50) rem(50) rem(63);
        margin-top: rem(50);
        display: flex;
        justify-content: space-between;
        gap: rem(20);
        animation: fadeIn 0.6s;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: rem(10);
        width: 100%;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: rem(20);

        &:first-of-type {
            grid-row-end: span 2;
        }
    }

    &__title {
        @include font(14, 600, 16);
    }

    &__link {
        @include font(14, 400, 16);
        opacity: 0.6;

        &:hover {
            color: $main-color;
        }
    }

    &__images {
        display: flex;
        flex-direction: column;
        gap: rem(24);
    }

    &__img {
        height: rem(340);
        width: rem(250);
        position: relative;
    }

    @include breakpoint-max(1300) {
        &__list {
            grid-template-columns: repeat(3, 1fr);
            gap: rem(40) rem(10);
        }
    }

    @include breakpoint-max($desktop-width) {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }

        &__img {
            height: rem(300);
            width: rem(220);
        }

        &__content {
            padding-left: rem(30);
            padding-right: rem(30);
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}