/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import '@/assets/style/utilities/index.scss';

.sidebar {
    width: rem(288);
    height: 100vh;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background-color: $bg-gray;
    border-radius: rem(1);
    padding: rem(24);
    padding-right: 0;
    overflow-y: auto;
    z-index: 7;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;

    &__header {
        margin-bottom: rem(48);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        &.hover {
            margin-bottom: rem(24);
        }
    }

    .categories {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        &__item {
            padding-right: rem(24);
            padding-bottom: rem(8);

            &:last-of-type {
                padding-bottom: 0;
            }

            &:hover {
                .categories__btn {
                    background-color: white;

                    svg {
                        stroke: $main-color;
                    }

                    img {
                        -webkit-filter: brightness(0) saturate(100%) invert(29%) sepia(47%) saturate(3011%) hue-rotate(335deg) brightness(88%) contrast(114%);
                        filter: brightness(0) saturate(100%) invert(29%) sepia(47%) saturate(3011%) hue-rotate(335deg) brightness(88%) contrast(114%);
                    }

                    p {
                        font-weight: 500;
                    }
                }

                @include breakpoint-min($desktop-width) {
                    .subMenu {
                        display: block;
                    }
                }
            }

            &.hover {
                border-right: rem(1) solid #C4C4C4;
            }
        }

        &__btn {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 100%;
            gap: rem(8);
            padding: rem(14) rem(16);
            border-radius: rem(16);

            svg {
                stroke: #7a7a7a;
                width: rem(20);
                height: rem(20);
                flex-shrink: 0;
            }

            &.active {
                background-color: white;

                img {
                    -webkit-filter: brightness(0) saturate(100%) invert(29%) sepia(47%) saturate(3011%) hue-rotate(335deg) brightness(88%) contrast(114%);
                    filter: brightness(0) saturate(100%) invert(29%) sepia(47%) saturate(3011%) hue-rotate(335deg) brightness(88%) contrast(114%);
                }

                svg {
                    stroke: $main-color;
                }

                p {
                    font-weight: 500;
                }
            }

            p {
                @include font(14, 400, 15);
                white-space: nowrap;
            }
        }
    }

    &__closeBtn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: rem(12);
        width: rem(38);
        height: rem(38);
        -webkit-box-shadow: 0px 10px 19px 0px #00000008;
        box-shadow: 0px 10px 19px 0px #00000008;
        background: #E6E6E6;
        margin-right: rem(16);

        &:hover {
            background: #d6d6d6;
        }
    }

    &__openBtn {
        position: fixed;
        top: 50%;
        left: 0;
        font-size: 30px;
    }

    &::-webkit-scrollbar {
        width: rem(0);
        background: #d6d6d6;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: rem(0);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    @include breakpoint-max($desktop-width) {
        position: fixed;
        right: -100%;
        width: 100%;
        top: rem(105);
        height: calc(100vh - rem(105));
        -webkit-transition: right 0.3s ease-in-out;
        -o-transition: right 0.3s ease-in-out;
        transition: right 0.3s ease-in-out;
        padding: rem(20) rem(30);

        &.show {
            right: 0;
        }

        &::-webkit-scrollbar {
            width: rem(5);
        }

        &::-webkit-scrollbar-thumb {
            border-radius: rem(5);
        }

        &__header {
            display: none;
        }

        .categories {
            gap: rem(8);

            &__item {
                padding: 0;
                border: none !important;
            }
        }
    }

    @include breakpoint-max($tablet-width) {
        top: rem(84);
        height: calc(100vh - rem(84));
        padding: rem(20);
    }

    &.dark {
        background-color: $dark-1;

        .categories {
            &__btn {
                color: white;

                &.active {
                    color: $black;
                }
            }

            &__item {
                &:hover {
                    .categories__btn {
                        color: $black;
                    }
                }
            }
        }

        .sidebar__closeBtn {
            &:hover {
                background-color: darken(#E6E6E6, 15%);
            }
        }

        .subMenu {
            background-color: $dark-1;

            &__title {
                a {
                    color: white;
                }
            }

            &__link {
                color: white;

                &:hover {
                    color: $main-color;
                }
            }
        }

        .list {
            &__link {
                color: white;

                svg {
                    stroke: white;
                    fill: white;
                }
            }
        }

        .icons {
            .icon {
                svg {
                    stroke: white;
                    fill: white;
                }
            }
        }

        .back {
            &__link {
                color: white;
            }

            &__icon {
                stroke: white;
                fill: white;
            }
        }
    }
}

.subMenu {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    width: calc(100% - rem(288));
    height: 100vh;
    background-color: $bg-gray;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    overflow-y: auto;
    padding: 0 rem(50) rem(50) rem(63);

    .sidebar__closeBtn {
        margin-top: rem(35);
        margin-left: auto;
    }

    &__header {
        margin-bottom: rem(24);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    &__content {
        margin-top: rem(50);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        gap: rem(20);
        -webkit-animation: fadeIn 0.6s;
        animation: fadeIn 0.6s;
    }

    &__list {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr rem(10) 1fr rem(10) 1fr rem(10) 1fr;
        grid-template-columns: repeat(4, 1fr);
        gap: rem(10);
        width: 100%;
    }

    &__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: rem(20);

        &:first-of-type {
            -ms-grid-row-span: 2;
            grid-row-end: span 2;
        }
    }

    &__title {
        @include font(14, 600, 16);
    }

    &__link {
        @include font(14, 400, 16);
        opacity: 0.6;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;

        &:hover {
            color: $main-color;
            opacity: 1;
        }
    }

    &__images {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: rem(24);
    }

    &__img {
        height: rem(340);
        width: rem(250);
        position: relative;
    }

    .back {
        display: none;
        gap: rem(10);
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: rem(20);
        border-bottom: 1px solid rgb(193, 193, 193);
        width: 100%;
        padding-bottom: rem(8);

        &__icon {
            width: rem(19);
            height: rem(17);
            stroke: $black;
        }

        &__btn {
            padding: rem(5);
            padding-left: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        &__link {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            gap: rem(10);
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            font-weight: 600;
            font-size: rem(14);

            svg {
                width: rem(20);
                height: rem(20);
                stroke: #7a7a7a;
            }
        }

        @include breakpoint-max($desktop-width) {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
    }

    @include breakpoint-max(1300) {
        &__list {
            -ms-grid-columns: 1fr rem(10) 1fr rem(10) 1fr;
            grid-template-columns: repeat(3, 1fr);
            gap: rem(40) rem(10);
        }
    }

    @include breakpoint-max($desktop-width) {
        top: rem(105);
        height: calc(100vh - rem(105));
        width: 100%;
        padding: rem(20) rem(30);
        display: block;
        right: -100%;
        -webkit-transition: right 0.3s ease-in-out;
        -o-transition: right 0.3s ease-in-out;
        transition: right 0.3s ease-in-out;

        &.show {
            right: 0;
        }

        &.hide {
            right: -100% !important;
        }

        &__list {
            grid-template-columns: repeat(2, 1fr);
        }

        &__img {
            height: rem(300);
            width: rem(220);
        }

        &__content {
            margin: 0;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        .sidebar__closeBtn {
            display: none;
        }

        &__images {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            gap: rem(50);
        }
    }

    @include breakpoint-max($tablet-width) {
        top: rem(84);
        height: calc(100vh - rem(84));
        padding: rem(20);
    }

    @include breakpoint-max($mobile-width) {
        &__images {
            gap: rem(30);
        }

        &__img {
            width: 50%;
            height: rem(220);
        }
    }
}

.list {
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: rem(10);
    margin: rem(20) 0;

    &__link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: rem(8);

        span {
            @include font(14, 400, 21);
        }

        svg {
            width: rem(8);
            height: rem(4);
            stroke: #858585;
            fill: #858585;
        }
    }

    @include breakpoint-max($desktop-width) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

.icons {
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: rem(20);

    .icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: rem(12);
        position: relative;

        svg {
            width: rem(20);
            height: rem(20);
            stroke: #333333;
        }

        .lang {
            @include font(14, 700, 21);
        }

        .count {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            position: absolute;
            right: rem(-5);
            top: rem(-5);
            width: rem(18);
            height: rem(12);
            border-radius: rem(14);
            background-color: $main-color;
            @include font(8, 700, 12);
            color: white;
        }
    }

    @include breakpoint-max($desktop-width) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}